body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#board{
    width:300px;
    margin: 3px 6px;
    display:grid;
    grid-template-columns:repeat(3,100px);
}

.cell{
    width:100px;
    height:100px;
    border:1px solid black;
    font-size:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}