<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
        <form method="post" action="../controller/loginCheck.php" enctype="multipart/form-data">
            <fieldset>
                <legend>Signin</legend>
                Username:   <input type="text" name="username" value=""> <br>
                Password:   <input type="password" name="password" value=""> <br>
                Type:   <select value="type">
                            <option value="#">select a login type</option>
                            <option value="admin">admin</option>
                            <option value="user">user</option>
                        </select>
                        <br>
                <a href="registration.php">Don't have a account?</a>
                        <input type="submit" name="submit" value="Submit">
            </fieldset>
        </form>
</body>
</html>