body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc {
    padding: 20px;
}

h1 {
    text-align: center;
}

#res {
    width: 100%;
    height: 40px;
    font-size: 18px;
    text-align: right;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 8px;
}